{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="login-form">

    <h2>Connectez-vous !</h2>

    <form method="post">
        
        <div>
            <label for="username">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password" autocomplete="current-password" required>
        </div>
 
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {% if error %}
            <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div>
            <input type="checkbox" name="_remember_me" id="_remember_me" checked>
            <label for="_remember_me">Se souvenir</label>
        </div>

        <button type="submit">
            Se connecter
        </button>

        <p>Vous n'avez pas encore de compte ? <br><a href="{{path('app_register')}}">Inscrivez-vous tout de suite !</a></p>
    </form>
</section>
{% endblock %}
