{% extends 'base.html.twig' %}

{% block title %}Calendrier de l'avent{% endblock %}

{% block body %}
    <section>
        <article>
            <p>Bienvenue dans ce nouveau calendrier de l'avent interractif ! Chaque jour jusqu'à Noël, ouvrez une case du calendrier découvrez un nouveau défi à relever. Comptons ensemble les jours qui nous séparent de cette fin d'année et offrons quelques paillettes de magie à nos quotidiens. </p> 
        </article>

        {% if not app.user %}
            {{ include('includes/_login.html.twig')}} 
        {% endif %}
    </section>

    <section class="calendar">
        <h2>Le calendrier</h2>

        <p>Chaque jour, le calendrier de l'avent dévoile une nouvelle case contenant une activité, un petit jeu ou un défi à réaliser ! Chaque défi réalisé vous fera remporter des points.</p>
        <p>Alors qui sera le maître de l'avent 2024&nbsp;?</p>
        <div class="table">
            {% if calendar %}
                {% for day in calendar %}
                <a {% if day.date <= date('now') %} href="{{path('app_calendar_index', {id : day.id})}}" {% endif %}>
                    <img src="{{ asset('imgs/calendar/' ~ day.picture) }}" alt="calendrier du {{day.date|date('d/m')}}">
                </a>
                {% endfor %}
            {% endif %}
        </div>        
    </section>

    {% include 'includes/_ranking.html.twig' with {'home' : true} %}

{% endblock %}

