{% extends 'base.html.twig' %}

{% block title %}Calendrier de l'avent{% endblock %}

{% block body %}
    <section>
        <article>
            <p>Cette année, Noël se fête en ligne à travers un calendrier de l'avent intéractif et un bingo de Noël !</p> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nobis eveniet necessitatibus saepe delectus rem laborum, id iste, sunt aut vero, ex minima quis quaerat repellendus sint? In, nemo officia.</p>
        </article>

        {% if not app.user %}
            {{ include('includes/_login.html.twig')}} 
        {% endif %}
    </section>

    <section class="calendar">
        <h2>Le calendrier</h2>

        <p>Chaque jour, le calendrier de l'avent dévoile une nouvelle case contenant une activité, un petit jeu ou un défi à réaliser ! Chaque défi réalisé vous fera remporter des points. </p>
        <p>Alors qui sera le maître de l'avent 2024&nbsp;?</p>
        <div class="table">
            {% if calendar %}
                {% for day in calendar %}
                <a {% if day.date <= date('12/24/2024') %} href="{{path('app_calendar_index', {id : day.id})}}" {% endif %}>
                    <img src="{{ asset('imgs/calendar/' ~ day.picture) }}" alt="calendrier du {{day.date|date('d/m')}}">
                </a>
                {% endfor %}
            {% endif %}
        </div>        
    </section>

    {% include 'includes/_ranking.html.twig' with {'home' : true} %}

    {# <section class="blog">
        <h2>Le blog</h2>

        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
    </section> #}
{% endblock %}

