<form method="post" action="{{ path('app_admin_challenge_delete', {'id': challenge.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer ce défi ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ challenge.id) }}">
    <button class="btn delete">Supprimer</button>
</form>
