@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: silverChristmas;
  src: url("../fonts/silver_christmas.otf");
}
@font-face {
  font-family: hiChristmas;
  src: url("../fonts/hi_christmas.otf");
}
/* Variables */
/* Reset */
*,
html,
body {
  margin: 0;
  padding: 0rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* 1rem = 10px */
html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* end reset */
/* HEADER */
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: #fff;
  color: #302f2f;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}

header nav {
  padding: 2rem;
  margin-bottom: 3rem;
  color: white;
  background-color: #0b5d31;
}
header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
header nav ul a:hover {
  color: #f1b846;
}

h1 {
  font-size: 11rem;
  color: #da1600;
  font-weight: 400;
  font-family: hiChristmas;
  text-align: center;
  line-height: 0.7;
}

span {
  font-size: 0.75em;
  display: block;
  color: #da1600;
  font-family: hiChristmas;
}

.ball {
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 700;
  width: 20rem;
  height: 20rem;
  background: radial-gradient(circle, #d5e6f7, #dbefff, #cde9ff);
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}
.ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(circle at top, #fff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
}
.ball:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  filter: blur(1px);
  transform: rotateZ(-30deg);
}
.ball.bubble {
  background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
  animation: bubble-anim 2s ease-out infinite;
}
.ball:before {
  filter: blur(0);
  height: 80%;
  width: 40%;
  background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}
.ball:after {
  display: block;
  background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%);
}
.ball .snowflakes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.ball .snowflakes .snowflake {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
  animation: fall linear infinite;
  z-index: 1;
}
.ball .snowflakes .snowflake:nth-child(odd) {
  width: 4px;
  height: 4px;
}
.ball .snowflakes .snowflake:nth-child(even) {
  width: 6px;
  height: 6px;
}
.ball .count {
  width: 100%;
  height: 100%;
  color: darkgray;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

/* Animations pour la chute */
@keyframes fall {
  0% {
    transform: translateY(-100px) translateX(-20px);
  }
  100% {
    transform: translateY(200px) translateX(20px);
  }
}
main {
  padding: 0 2rem;
  text-align: justify;
}
main section {
  margin: 4rem auto;
}
main h2 {
  margin: 2rem auto;
  text-align: center;
  font-family: hiChristmas;
  font-size: 9rem;
  font-weight: 400;
  color: #da1600;
}
main h3 {
  text-align: center;
  margin-bottom: 1rem;
}
main p {
  margin: 2rem 0;
  text-align: center;
}
main p a {
  font-weight: 700;
  color: #0b5d31;
}
main form .error {
  color: #da1600;
  font-weight: 500;
  margin: 1rem;
}
main .login {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
main .login p {
  margin: 0;
  text-align: center;
}
main .login p:first-of-type {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
main .login p:first-of-type::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  margin: auto;
  width: 3rem;
  border-bottom: solid 0.4rem #b0bec5;
}
main .login p a {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 30%;
  background-color: #f1b846;
  color: #fff;
  cursor: pointer;
}
main .login p a:hover {
  background-color: #d89a1e;
}
main .calendar p:last-of-type {
  text-align: center;
  font-size: 1.1em;
  color: #0b5d31;
  font-weight: 700;
}
main .calendar div.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: auto;
}
main .calendar div.table a {
  display: inline-block;
  width: calc(20% - 1rem);
  line-height: 0;
  margin: 0.2rem;
}
main .calendar div.table a img {
  width: 100%;
}
main .calendar table {
  border-collapse: collapse;
}
main .ranking table {
  width: 100%;
  table-layout: auto;
}
main .ranking table th {
  padding: 1rem 2rem;
  background-color: #f1b846;
  color: #fff;
}
main .ranking table th:first-of-type, main .ranking table th:last-of-type:not(.date) {
  width: 5rem;
}
main .ranking table tr:nth-child(odd) {
  background-color: rgba(241, 184, 70, 0.6666666667);
}
main .ranking table td {
  padding: 1rem 2rem;
}
main section.game div#quiz {
  margin-bottom: 2rem;
}
main section.game div#quiz label {
  display: inline-block;
  color: #0b5d31;
  margin: 2rem 0 1rem;
  font-weight: 500;
}
main section.game div#quiz input.text-type {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 2rem;
}
main section.game div#quiz .choice-type > label {
  margin: 0 0 1rem 0;
  display: inline-block;
  width: calc(100% - 4rem);
  color: #302f2f;
  font-weight: 400;
}
main section.game div#quiz .choice-type input {
  display: inline-block;
  width: 4rem;
}
main section.game div#quiz + button.btn.submit {
  border: none;
  padding: 1rem;
  font-size: inherit;
  color: white;
  background-color: #0b5d31;
  cursor: pointer;
}
main section.game form[name=photo] {
  display: flex;
}
main section.game form[name=photo] div#photo {
  width: 70%;
}
main section.game form[name=photo] div#photo input[type=file] {
  display: block;
  width: 100%;
  border: 0.1rem solid #0b5d31;
}
main section.game form[name=photo] div#photo input[type=file]::file-selector-button {
  padding: 1rem;
  border: none;
  background-color: #0b5d31;
  color: #fff;
  cursor: pointer;
}
main section.game form[name=photo] button {
  width: 30%;
  background-color: #0b5d31;
  border: none;
  color: #fff;
}
main section.galerie .elements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 10px;
  margin: 2rem auto;
}
main section.galerie .elements figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.galerie .elements figure a {
  line-height: 0;
}
main section.galerie .elements figure img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8rem 0.8rem 0 0;
}
main section.galerie .elements figure figcaption {
  font-size: 0.9em;
  text-align: center;
  background-color: #f1b846;
  padding: 1rem;
  color: #fff;
  font-weight: 600;
  width: 100%;
  border-radius: 0 0 0.8rem 0.8rem;
}
main .register-form,
main .login-form {
  text-align: center;
}
main .register-form h2,
main .login-form h2 {
  color: #0b5d31;
}
main .register-form label,
main .login-form label {
  color: #0b5d31;
}
main .register-form input:not([type=checkbox]),
main .login-form input:not([type=checkbox]) {
  display: block;
  width: 80%;
  margin: 0.5rem auto 1rem;
  padding: 1rem;
  font-size: inherit;
  color: #5c5b5b;
  text-align: center;
  font-weight: inherit;
}
main .register-form small,
main .login-form small {
  color: #d89a1e;
}
main .register-form button[type=submit],
main .login-form button[type=submit] {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 80%;
  background-color: #f1b846;
  color: #fff;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
main .profile .infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}
main .profile .infos p:first-of-type {
  font-size: 1.2em;
  font-weight: 600;
  color: #0b5d31;
}
main .profile .infos img {
  width: 30%;
}
main .profile .infos a {
  display: block;
  margin: 1rem 0;
  padding: 0.5rem;
  text-align: center;
  background-color: #0b5d31;
  color: #fff;
  cursor: pointer;
}

footer {
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  background-color: #0b5d31;
  color: white;
}

/*   RESPONSIVE   */
@media screen and (min-width: 768px) {
  header {
    position: relative;
    background-image: url(../../assets/imgs/bg/pexels-barry-plott-48592-753410.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header nav {
    background-color: #0b5d31;
  }
  header h1,
  header h1 span {
    color: #fff;
    font-size: 12rem;
    text-shadow: 5px 2px 9px black;
  }
  main {
    width: 90%;
    margin: auto;
  }
  main .ranking table td img {
    display: inline;
    width: 5rem;
    margin-right: 2rem;
    vertical-align: middle;
    border-radius: 50%;
  }
}
@media screen and (min-width: 1024px) {
  header h1 {
    font-size: 15rem;
  }
  header nav {
    padding: 2rem;
  }
  header nav ul {
    justify-content: center;
  }
  header nav ul li {
    margin: auto 6rem;
  }
  body {
    font-size: 2rem;
  }
  body main {
    width: 80%;
  }
  body main h2 {
    font-size: 11rem;
  }
  body main .calendar {
    width: 80%;
    margin: auto;
  }
  body main .register-form input:not([type=checkbox]),
  body main .login-form input:not([type=checkbox]) {
    max-width: 45rem;
    font-size: inherit;
  }
  body main .register-form button[type=submit],
  body main .login-form button[type=submit] {
    max-width: 45rem;
  }
}
@media screen and (min-width: 1440px) {
  main {
    max-width: 120rem;
  }
}/*# sourceMappingURL=app.css.map */